@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import './vars.css'; 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--background-color);
  font-family: var(--font-family);

  color:white;
}