@import "../vars.css";

.question {
  color: var(--text-color);
  font-size: var(--font-size-text);
  margin-bottom: 60px;
  background: linear-gradient (to right, black, green);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
}
.answer-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.answer-buttons button {
  width: 40%;
  padding: 15px;
  margin: 0 10px 20px 10px;
  text-align: center;
  border: 1px solid var(--container-border-color);
  background-color: var(--background-color);
  color: white;
  border-radius: 15px;
  font-weight: 300;
  font-size: 20px;
  cursor: pointer;
}
.answer-buttons button:hover {
  cursor: pointer;
  background-color: rgb(174, 244, 153);
  color: black;
}

.answer-buttons button.correct {
  border: 1px solid green;
}

.answer-buttons button.incorrect {
  border: 1px solid crimson;
}

.result-image-container {
  width: 250px;
  height: 150px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-image {
  width: 100%;
  height: 100%;
  display: block;
  animation: slideInFadeOut 2s forwards ease-in-out;
}

@keyframes slideInFadeOut {
  0% {
    opacity: 0; /* Start fully transparent */
    transform: translateX(-100px); /* Start 100 pixels to the left */
  }
  50% {
    opacity: 1; /* Fully visible at the middle point */
    transform: translateX(50%); /* Slide to the middle */
  }
  100% {
    opacity: 0; /* Fade out by the end */
    transform: translateX(0); /* End at the original position */
  }

}
